.articles-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #2c3e50; /* Dark background for container */
    border-radius: 12px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-body {
    background-color: #ecf0f1; /* Light background */
    border-radius: 15px 15px 0 0;
    padding: 30px;
}

.card-title {
    font-size: 2rem;
    color: #2980b9; /* Blue title */
}

.card-text {
    font-size: 1.2rem;
    color: #2c3e50;
}

.custom-btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    color: #ecf0f1;
    background: linear-gradient(45deg, #16a085 0%, #27ae60 100%); /* Green gradient */
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.custom-btn:hover {
    background: linear-gradient(45deg, #27ae60 0%, #16a085 100%);
    transform: scale(1.2);
}

.read-more-icon {
    color: #ecf0f1;
    font-size: 2rem;
}

.card-footer {
    background-color: #ecf0f1;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 1.8rem;
    }

    .card-text {
        font-size: 1.1rem;
    }

    .custom-btn {
        font-size: 1.1rem;
        padding: 0.7rem 1.3rem;
    }

    .read-more-icon {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {
    .card-title {
        font-size: 1.6rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .custom-btn {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
    }

    .read-more-icon {
        font-size: 1.6rem;
    }
}
